body {
    background-color: #000000e3;
}

h1 {
    color: #8ACB00;
    text-align: center;
    font-family: 'Tourney';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #fff;
    text-align: center;
    font-family: 'Tourney';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

leftbottombutton {
    z-index: 1;
    background-color: #A349A3;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    left: 10px;
}

centerbottombutton {
    background-color: #3F47CC;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    left: 50%;
    margin-left: -15%;
    cursor: pointer;
}

rightbottombutton {
    background-color: #8ACB00;
    color: #FFF;
    height: 5%;
    width: 30%;
    border-radius: 8px;
    font-family: 'Tourney';
    font-size: 36px;
    font-style: normal;
    font-weight: 650;
    text-align: center;
    line-height: normal;
    position: fixed;
    bottom: 2px;
    right: 10px;
}

textarea {
    line-height: normal;
    position: fixed;
    bottom: 10%;
    left: 23%;
    right: 23%;
    margin-left: auto;
    background-color: #1C1C1C;
    color: #FFF;
    /* border: 3px solid #3F47CC; */
    border: 3px solid #A349A3;
    font-family: Tourney;
    font-weight: 700;
}


componentLibrary {
    position: absolute;
    top: 15%;
    left: 0px;
    width: 15%;
    height: 65%;
    border: 4px solid #8ACB00;
    margin: 10px;
    text-align: center;
    overflow-y: auto;
}

h3 {
    background-color: #1c1c1c;
    color: #8ACB00;
    position: sticky;
    width: 100%;
    height: 20%;
    top: 0px;
    text-align: center;
    font-family: 'Tourney';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    z-index: 10;
}

#component {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #8ACB00;
    z-index: 2;
}

.grid-container {
    z-index: 1;
    display: inline-grid;
    grid-template-columns: [one] 50px [two] 75px [three] 75px [four] 200px [five] 75px [six] 75px [seven] 300px [eight] 75px [nine] 75px [ten] 25px;
    grid-template-rows: [alphaa] 50px [bravo] 50px [charlie] 50px [delta] 50px [echo] 50px [foxtrot] 50px [gulf] 25px;
    margin-left: 20%;
    margin-top: 2%;
}

.grid-item {
    display: inline-grid;
}

#successBlurb {
    z-index: 10;
    grid-column: five;
    grid-row: delta;
    width: 300px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Tourney';
    font-style: normal;
    font-family: Tourney;
    font-weight: 700;
}

#wire {
    z-index: 2;
    grid-column: three / nine;
    grid-row: bravo / gulf;
    /* border: 5px solid #A349A3; */
    border: 5px solid #3F47CC;
}

#leftBox {
    z-index: 3;
    grid-column: two / four;
    grid-row: charlie / foxtrot;
    width: 100px;
    height: 70px;
    padding: 20px;
    border: 4px solid #8ACB00;
    background-color: #000000e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#midBox {
    z-index: 3;
    grid-column: five / seven;
    grid-row: alphaa / delta;
    width: 100px;
    height: 70px;
    padding: 20px;
    /* border: 3px solid #3F47CC; */
    border: 3px solid #A349A3;
    background-color: #000000e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightBox {
    z-index: 3;
    grid-column: eight / ten;
    grid-row: charlie / foxtrot;
    width: 100px;
    height: 70px;
    padding: 20px;
    border: 3px solid #fff;
    background-color: #000000e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
